data/clean/twitter/full_tweet_df_19-09-22.p
data/raw/twitter/all_tweets_w_metadata.p
data/raw/twitter/chunks/tweet_chunk_1.p
data/raw/twitter/chunks/tweet_chunk_2.p
data/raw/twitter/chunks/tweet_chunk_3.p
data/raw/twitter/chunks/tweet_chunk_4.p
data/raw/twitter/chunks/tweet_chunk_5.p
data/raw/twitter/chunks/tweet_chunk_6.p
data/raw/twitter/chunks/tweet_chunk_7.p
data/raw/twitter/chunks/tweet_chunk_8.p
